body{
    background-color: #f0ebd8;
}

h2{
    color: #392b1e;
    text-align: center;
    margin-top: 10px;
    
}


footer{
    background-color: #505b4b; 
    color: #f0ebd8; 
    padding: 40px 0;
    text-align: center;
}

p{
    margin: 20px;
    text-align: justify;
    text-indent: 20px;
}

p.comImg{
    margin: 40px;
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

.inaug{
    width: 100%;
    margin: 10px;
}

p.event{
    float: left;
    margin: 20px;
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 0;
}

p.event2{
    float: left;
    margin: 20px;
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

.evento{
    color: #392b1e;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
}

.float{
    float: left;
    margin: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.floatok{
    float: left;
}

.float2{
    float: right;
    margin: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.clear{
    clear: both;
}

img.dir{
    margin-left:20px;
    height: 100%;
    float: right;
    margin: 20px;
    margin-right: 20px;
}

img.esq{
    margin-right: 20px;
    height: 100%;
    float: left;
    margin: 20px;
    margin-left: 20px;
}

.cent{
    display: block;
    margin: auto;
}

.float-evento{
    float: left;
    margin-top: 50px;
    margin-bottom: 0;
}

.float-mapa{
    float: right;
    margin-top: 20px;
}
